body{
    background-color: rgb(255, 49, 49, 0.8);
    opacity: 100%;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-decoration: underline;
    font-weight: bold;
}

h2{
    font-family: 'Trebuchet MS', sans-serif;
}

p{
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.35em;
    letter-spacing: 0.005em;
}

